<footer>
<div class="full-footer-back">
<div class="all-icons">
   <a href="https://x.com/deep_rewale28"> <i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://www.facebook.com/deep.rewale"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com/_deepuuu_28/"><i class="fa-brands fa-instagram"></i></a>
    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
</div>

<div class="footer-line">
    <h1>made by deep 👀</h1>
</div>
</div>

<div class="last-line">
    <h2>blog application made by deep ©2024 All Rights Reserved.</h2>
</div>

</footer>