<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="preconnect" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

</head>
<body>
    <nav>
        <div class="full-nav">
        <div class="bloglogo">
            <p>Blog<span>Application</span></p>
        </div>
        <div class="nav-bar">
            <li><a href="/home"> home</a></li>
            <li ><a class="button1" href="/create">create post</a></li>
        </div>
        <div class="toggle-btn"><i class="fa-solid fa-bars"></i></div>
    </div>
    </nav>
   <script src="/index1.js"></script>
    <script src="https://kit.fontawesome.com/09dff34e5e.js" crossorigin="anonymous"></script>
</body>


</html>
